fastapi
uvicorn[standard]
streamlit
requests
chromadb
sentence-transformers
pymupdf
beautifulsoup4
python-dotenv
python-multipart

selenium
webdriver-manager
torch
langchain_text_splitters

python-dotenv
google-generativeai

